<% include partials/header.ejs%>

<!-- Header -->
<header id="header">
    <div class="container">

        <div class="navbar-header">
            <!-- Logo -->
            <div class="navbar-brand">
                <a class="logo" href="/">
                    <img src="/img/logo.png" alt="logo">
                </a>
            </div>
            <!-- /Logo -->

            <!-- Mobile toggle -->
            <button class="navbar-toggle">
                <span></span>
            </button>
            <!-- /Mobile toggle -->
        </div>

        <!-- Navigation -->
        <nav id="nav">
            <ul class="main-menu nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <!-- /Navigation -->

    </div>
</header>
<!-- /Header -->

<!-- Hero-area -->
<div class="hero-area section">

    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url(/img/page-background.jpg)"></div>
    <!-- /Backgound Image -->

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <ul class="hero-area-tree">
                    <li><a href="/">Home</a></li>
                    <li>About</li>
                </ul>
                <h1 class="white-text">Who We Are?</h1>

            </div>
        </div>
    </div>

</div>
<!-- /Hero-area -->


<!-- About -->
<div id="contact" class="section">

    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">

            <!-- Paragraph -->
            <div class="col-md-8">
                <p class="lead">
                    Integer ac suscipit felis. Pellentesque ultricies orci consequat arcu vehicula euismod. Aenean hendrerit nec eros in ultricies. Nullam aliquam elit nec commodo feugiat. Nunc id ligula consectetur massa hendrerit imperdiet nec at risus. Sed non turpis auctor justo auctor scelerisque eu vitae augue. Donec posuere sollicitudin dui, at lacinia lorem semper ut. Vestibulum mattis non sem at molestie. Nam pretium neque aliquet, aliquam odio eget, dapibus tellus.</p>
            </div>
            <!-- /Paragraph -->


        </div>
        <!-- /row -->

    </div>
    <!-- /container -->

</div>
<!-- /About -->


<% include partials/footer.ejs%>
