<% include ../partials/header.ejs%>


<!-- Header -->
<header id="header">
    <div class="container">

        <div class="navbar-header">
            <!-- Logo -->
            <div class="navbar-brand">
                <a class="logo" href="/">
                    <img src="/img/logo.png" alt="logo">
                </a>
            </div>
            <!-- /Logo -->

            <!-- Mobile toggle -->
            <button class="navbar-toggle">
                <span></span>
            </button>
            <!-- /Mobile toggle -->
        </div>

        <!-- Navigation -->
        <nav id="nav">
            <ul class="main-menu nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <!-- /Navigation -->

    </div>
</header>
<!-- /Header -->

<!-- Hero-area -->
<div class="hero-area section">

    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url(/img/page-background.jpg)"></div>
    <!-- /Backgound Image -->

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <ul class="hero-area-tree">
                    <li><a href="/">Home</a></li>
                    <li>New Lesson</li>
                </ul>
                <h1 class="white-text">Create a new lesson and pass the flame!</h1>
            </div>
        </div>
    </div>

</div>
<!-- /Hero-area -->

<!-- Sign Up Form -->
<div id="contact" class="section">

    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">
            <!-- Body -->
            <div class="col-md-6">
                <form action="/instructors/classes/<%=class_id%>/lessons/new" method="post">
                    <div class="form-group">
                        <label for="lesson_number">Lesson Number:</label>
                        <input type="number" name="lesson_number" id="lesson_number" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="lesson_title">Lesson Title:</label>
                        <input type="text" name="lesson_title" id="lesson_number" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="lesson_body">Lesson Content:</label>
                        <textarea name="lesson_body" id="lesson_body" class="form-control" rows="5"></textarea>
                    </div>
                    <input type="submit" class="main-button" value="Create Lesson">
                </form>
            </div>
            <!-- /Body -->


        </div>
        <!-- /row -->

    </div>
    <!-- /container -->

</div>
<!-- /Sign Up Form -->

<% include ../partials/footer.ejs%>
